name: Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:
env:
  SOLUTION_FILE_PATH: .
  BUILD_CONFIGURATION: Release
  STEAM_PATH: temp

jobs:
  Win64:
    runs-on: windows-2022
    steps:

    - name: Clone repo and submodule
      run: |
        git clone https://github.com/${{github.repository}}.git .
        git checkout $env:GITHUB_REF_NAME
        git submodule update --init --recursive


    - name: Get current date, commit hash and count
      run: |
        echo "CurrentDate=$(date +'%Y-%m-%d')" >> $env:GITHUB_ENV
        echo "CommitHashShort=$(git rev-parse --short=7 HEAD)" >> $env:GITHUB_ENV
        echo "CommitCount=$(git rev-list --count $env:GITHUB_REF_NAME)" >> $env:GITHUB_ENV

    - name: Add MSBuild to PATH
      uses: microsoft/setup-msbuild@v1.0.2

    - name: Restore NuGet packages
      working-directory: ${{env.GITHUB_WORKSPACE}}
      run: nuget restore ${{env.SOLUTION_FILE_PATH}}

    - name: Build
      run: msbuild /m /p:Configuration=${{env.BUILD_CONFIGURATION}} ${{env.SOLUTION_FILE_PATH}}

    - name: Install md-to-pdf
      run: npm install -g md-to-pdf

    - name: Install Ghostscript
      run: choco install ghostscript --yes

    - name: Convert README.md and changelog.md to JPG and trim whitespace (Windows)
      run: |
        # Convert markdown to PDF
        md-to-pdf README.md
        md-to-pdf changelog.md

        # Convert README.pdf to JPGs
        magick -density 300 README.pdf README-%d.jpg
        Get-ChildItem README-*.jpg |
          Sort-Object { [int]($_.BaseName -replace 'README-','') } |
          ForEach-Object {
            magick $_.Name -trim +repage $_.Name
          }
        $readmeFiles = Get-ChildItem README-*.jpg |
          Sort-Object { [int]($_.BaseName -replace 'README-','') } |
          Select-Object -ExpandProperty Name
        magick $readmeFiles -append -quality 90 README_combined.jpg

        # Convert changelog.pdf to JPGs
        magick -density 300 changelog.pdf changelog-%d.jpg
        Get-ChildItem changelog-*.jpg |
          Sort-Object { [int]($_.BaseName -replace 'changelog-','') } |
          ForEach-Object {
            magick $_.Name -trim +repage $_.Name
          }
        $changelogFiles = Get-ChildItem changelog-*.jpg |
          Sort-Object { [int]($_.BaseName -replace 'changelog-','') } |
          Select-Object -ExpandProperty Name
        magick $changelogFiles -append -quality 90 changelog_combined.jpg
      shell: pwsh

    - name: Compress main artifacts
      uses: vimtor/action-zip@v1.1
      with:
        files: output/drivers/ README.md changelog.md LICENSE
        dest: "output/${{github.event.repository.name}}.zip"

    - name: Zip vrto3d_profiles folder
      run: Compress-Archive -Path vrto3d_profiles/* -DestinationPath vrto3d_profiles.zip

    - name: Upload zip artifact
      uses: actions/upload-artifact@v4
      with:
        name: "VRto3D-${{env.CommitHashShort}}"
        path: output/${{github.event.repository.name}}.zip

    - name: GitHub pre-release
      uses: "marvinpinto/action-automatic-releases@latest"
      with:
        repo_token: "${{secrets.GITHUB_TOKEN}}"
        automatic_release_tag: "latest"
        prerelease: true
        title: "[${{env.CurrentDate}}] ${{github.event.repository.name}} r${{env.CommitCount}}@${{env.CommitHashShort}}"
        files: |
          output/${{github.event.repository.name}}.zip
          vrto3d_profiles.zip
          README_combined.jpg
          changelog_combined.jpg
          